<template>
    <header>
        <nav>
            <div class="branding">
                <img src="../assets/carapuce.png" />
            </div>
            <ul class="navigation">
                <li><router-link class="link" to="/"> Home</router-link></li>
                <li><router-link class="link" to="/"> anime</router-link></li>
                <li><router-link class="link" to="/takoo"> Takoo</router-link></li>
                <li><router-link class="link" to="/"> Ragequit </router-link></li>
            </ul>
        </nav>
    </header>
</template>

<script>
export default {
    name: 'Navigation',
};
</script>

<style lang="scss" scoped>
header {
    background-color: black;
    z-index: 99;
    width: 100%;
    transition: 0.5s ease all;
    color: white;
    nav {
        display: flex;
        flex-direction: row;
        padding: 12px 0;
        transition: 0.5s ease all;
        width: 100%;
        margin: 0 auto;
        @media (min-width: 1140px) {
            max-width: 1140px;
        }

        ul,
        .link {
            font-weight: 500;
            color: white;
            list-style: none;
            text-decoration: none;
        }

        li {
            text-transform: uppercase;
            padding: 16px;
            margin-left: 16px;
        }

        .link {
            font-size: 14px;
            transition: 0.5s ease all;
            padding-bottom: 4px;
            border-bottom: 1px solid transparent;

            &:hover {
                color: rgba(155, 228, 228, 0.815);
                border-color: rgba(155, 228, 228, 0.815);
            }
        }
        .navigation {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: flex-end;
        }
        .icon {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            right: 24px;
            height: 100%;

            i {
                cursor: pointer;
                font-size: 24px;
                transition: 0.8 ease all;
            }
        }
        .branding {
            display: flex;
            height: 60px;
        }
    }
}
</style>
