<template>
    <v.app dark>
        <Navigation />
        <v-container class="container">
            <Nuxt />
        </v-container>
    </v.app>
</template>

<script>
import Navigation from '../components/header.vue';
export default {
    name: 'Index',
    components: {
        Navigation,
    },
};
</script>
<style lang="scss" scoped></style>
