<template></template>

<script>
import { testService } from '@/core/api/indexService';

export default {
    async created() {
        this.data = await testService.listAnime();
        console.log(this.data);
        await testService.postAnimeList(this.data);
    },
    data() {
        return {
            data: '',
        };
    },
};
</script>

<style></style>
