<template>
    <div>
        <li v-for="anime in allAnime" v-bind:key="anime.allName">Nom de l'anime : {{ anime.name }}</li>
    </div>
</template>

<script>
import { testService } from '@/core/api/indexService';

export default {
    name: 'Index',
    async created() {
        this.allAnime = await testService.getAllAnime();
    },
    data() {
        return {
            allAnime: '',
        };
    },
};
</script>

<style></style>
