<template>
    <div>{{ uneListe[0] }}</div>
</template>

<script>
export default {
    created() {
        for (let i = 0; i < 20; i++) {
            console.log(i);
        }
    },
    data() {
        return {
            i: 0,
            uneListe: ['Takoo', 'S4league', 'Stage', 'FrontEnd'],
        };
    },
};
</script>

<style></style>
